body { 
    background-color: rgb(175, 175, 175);
}

.botao {
    display: grid;
    flex-direction: row;
    margin: 5px;

}
.container {
    margin-bottom: 15px;
}

.NavInfo.container{
    display: flex;
    justify-items: end;
    gap: 25px;
  }
  
  td {
    text-align: center;
  }
  tr{
    text-align: center;
  }

footer{
    background-color: rgb(18, 18, 18);
    color: aliceblue;
    height: 50px;
    text-align: center;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer h6 {
  margin: 0;
}
header {
    margin-top: 15px;
    font-weight: bolder;
}

.containerGeral {
  height: 100vh;
  display: flex;
  flex-direction: column;
}